@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* ### Primary*/

    --Pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);

    /*### Neutral*/

    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);

}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

header img {
    width: 150px;
}

header button {
    background-color: transparent;
    border: 1px solid var(--Pink);
    color: var(--Pink);
    font-weight: 600;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    box-shadow: 2px 2px 5px hsl(212, 19%, 85%);
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box1 h1 {
    font-size: 36px;
    max-width: 100%;
}

.box1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35rem;
    font-weight: 100;
    max-width: 100%;

    color: rgb(90, 89, 89);
}

.box1 img {
    margin-top: 70px;
    width: 50%;
}

.btn {
    color: white;
    background-color: var(--Pink);
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    font-weight: 600;
    box-shadow: 5px 5px 10px hsl(212, 19%, 85%);
}

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 7rem;
    text-align: center;
}

.col img {
    width: 30px;
}

.col h2 {
    font-size: 3.5rem;
}

.col p {
    color: rgb(158, 154, 154);
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.card1,
.card3 {
    background-color: var(--VeryPaleBlue);
    margin-bottom: 300px;
    margin-top: 300px;
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 40%;
}

.image img {
    width: 500px;
    max-width: 100%;
}

.top img {
    width: 100%;
    margin-top: -200px;
}

.card1 .image,
.card3 .image {
    order: 2;
}
.bottom img {
    margin-bottom: -150px;
    width: 100%;
}
.info h3{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*end of box3*/
.box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 200px;
}
.box4 h3 {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 2rem;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: var(--VeryDarkCyan);
    color: white;
    padding: 0px;

}

.curve img{
    width: 100%;
    margin-top: -250px;
}
.all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.all , .foot {
    padding-left: 100px;
    padding-right: 100px;
}
.foot svg{
    width: 30px;
    fill: white;
    margin-right: 20px;
    margin-top: 20px;
}
.all p {
    font-size: 14px;
}
.one {
    width: 40%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}
.two{
    width: 40%;
    max-width: 100%;
} 
.one img{
    width: 15px;
    margin-right: 10px;
}
.two button {
    background-color: var(--Pink);
    color: white;
    width: 150px;
    height: 50px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
}
.two h3{
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 2rem;
}
.one svg{
    margin-bottom: 30px;
}
.two input{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    margin-top: 2rem;
margin-right: 20px;
max-width: 100%;
}
.one p{
    margin-bottom: 1rem;
}
.both {
    margin-bottom: 1rem;
}
.foot {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

@media (max-width:720px){
.box2{
    display: flex;
    flex-direction: column;
}
.col {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card1 .image,
.card3 .image {
    order: 0;
}
.content {
    display: flex;
    flex-direction: column;
}
.info {
    width: 100%;
}
.bottom img{
    margin-bottom: -50px;
}
.card1,
.card3 {
    background-color: var(--VeryPaleBlue);
    margin-bottom: 100px;
    margin-top: 100px;
}
.all {
    display: flex;
    flex-direction: column;
}
.one {
    width: 100%;
    order: 2;
}
.two{
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.two input{
    width: 100%;
}
.two button{
    position: absolute;
    right: 0;
    bottom: -60px;
}
.all , .foot {
    padding-left: 10px;
    padding-right: 10px;
}
.curve img{
    width: 100%;
    margin-top: -500px;
}
}